@model LaneMVCSite.Models.AerialVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AerialVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAltitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAltitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.engineStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.engineStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFlying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFlying)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAltitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAltitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
